modules = ["nodejs-20", "python-3.11"]
[nix]
channel = "stable-25_05"
packages = ["unzip", "openssh_gssapi"]

[agent]
expertMode = true
integrations = ["github:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Discord Bot"

[[workflows.workflow]]
name = "Discord Bot"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd bot_discord && node index.js"
waitForPort = 5000

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 38993
externalPort = 3000

[deployment]
deploymentTarget = "vm"
run = ["bash", "-c", "cd bot_discord && node index.js"]

[userenv]

[userenv.shared]
GITHUB_TOKEN = "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"
